<header class="header-container">
    <div class="logo-container">
        <img src="Logodiversify.png" alt="Logo Diversify" class="logo">
    </div>
    <div>
    <div class="search-bar-container">
        <div class="search-bar-background">
        <div class="icona">
            <img src="CercaIcona.png" alt="Icona" class="icona">
        </div>
            <input type="text" placeholder="Cerca" class="search-input">
        </div>
    </div>
    </div>
        <div class="menu-icon-container">
            <div class="menu-icon">
            <span></span>
            <span></span>
            <span></span>
        </div>
    </div>
</header>
