#map {
  height: 100%; /* Altezza al 100% del container */
  width: 100%;
  margin: 0;
}

#map-container {
  position: relative;
  width: 100%;
  height: 100%;
}

#dropdown-container {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 1000;
  background: white;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

select {
  padding: 5px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #f9f9f9;
}