<footer class="footer-container">
    <!-- Link del footer -->
    <div class="footer-links">
        <!-- Link Diversify -->
        <a href="/" class="footer-link">Diversify</a>

        <!-- Link Privacy Policy -->
        <a href="https://www.iubenda.com/privacy-policy/47658031" class="footer-link" title="Privacy Policy ">Privacy Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"),
         tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js"; tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>

        <!--Link Cookie Policy-->
        <a href="https://www.iubenda.com/privacy-policy/47658031/cookie-policy" class="footer-link" title="Cookie Policy ">Cookie Policy</a><script type="text/javascript">(function (w,d) {var loader = function () {var s = d.createElement("script"), tag = d.getElementsByTagName("script")[0]; s.src="https://cdn.iubenda.com/iubenda.js";
         tag.parentNode.insertBefore(s,tag);}; if(w.addEventListener){w.addEventListener("load", loader, false);}else if(w.attachEvent){w.attachEvent("onload", loader);}else{w.onload = loader;}})(window, document);</script>

        <!-- Link Chi siamo -->
        <a href="/about-us" class="footer-link">Chi siamo</a>
    </div>

</footer>
