.homepage-container {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	/* Allunga gli elementi per riempire lo spazio */
	justify-content: flex-start;
	/* Allinea il contenuto in alto */
	height: 100vh;
	/* Occupare tutta l'altezza della viewport */
	padding-left: 30px;
	padding-right: 30px;
}


app-map {
	position: relative;
	/* Posizionamento predefinito*/
	flex: 1;
	/* Occupa lo spazio rimanente */
	width: 100%;
	padding: 30px 0;
	/* 30px di padding sopra e sotto */
	margin: 0;
}