/* You can add global styles to this file, and also import other style files */
#map {
    width: 100%;
    height: 100vh; /* Full viewport height */
    border: 1px solid black; /* Optional border for debugging visibility */
}