<div class="gestione-password">
  <!-- Step 1: Recupero Password (Email + Codice Fiscale) -->
  <ng-container *ngIf="currentStep === 'forgotPassword'">
    <h2>Recupero Password</h2>
    <form [formGroup]="forgotPasswordForm" (ngSubmit)="submitEmailAndFiscalCode()">
      <div class="form-group">
        <label for="email">Email</label>
        <input
          id="email"
          type="email"
          class="form-control"
          placeholder="Inserisci la tua email"
          formControlName="email"
        />
        <div *ngIf="forgotPasswordForm.get('email')?.touched && forgotPasswordForm.get('email')?.invalid" class="error-message">
          <div *ngIf="forgotPasswordForm.get('email')?.hasError('required')">L'email è obbligatoria</div>
          <div *ngIf="forgotPasswordForm.get('email')?.hasError('pattern')">Inserisci un'email valida</div>
        </div>
      </div>
 
      <div class="form-group">
        <label for="fiscalCode">Codice Fiscale</label>
        <input
          id="fiscalCode"
          type="text"
          class="form-control"
          placeholder="Inserisci il tuo codice fiscale"
          formControlName="fiscalCode"
        />
 
        <div *ngIf="forgotPasswordForm.get('fiscalCode')?.touched && forgotPasswordForm.get('fiscalCode')?.invalid" class="error-message">
            <div *ngIf="forgotPasswordForm.get('fiscalCode')?.hasError('required')">Il codice fiscale è obbligatorio</div>
            <div *ngIf="forgotPasswordForm.get('fiscalCode')?.hasError('minlength') || forgotPasswordForm.get('fiscalCode')?.hasError('maxlength')">Il codice fiscale deve essere lungo esattamente 16 caratteri</div>
            <div *ngIf="forgotPasswordForm.get('fiscalCode')?.hasError('pattern')">Il codice fiscale deve essere valido</div>
          </div>
      </div>
 
      <button type="submit" [disabled]="forgotPasswordForm.invalid">Verifica</button>
    </form>
  </ng-container>
 
  <!-- Step 2: Domanda di Sicurezza -->
  <ng-container *ngIf="currentStep === 'securityQuestion'">
    <h2>Domanda di Sicurezza</h2>
    <p>{{domandaPersonale}}</p>
    <form [formGroup]="securityQuestionForm" (ngSubmit)="submitSecurityAnswer()">
      <div class="form-group">
        <input
          id="securityAnswer"
          type="text"
          class="form-control"
          placeholder="Risposta personale"
          formControlName="securityAnswer"
        />
        <!-- Mostra il messaggio di errore mentre si digita -->
        <div *ngIf="securityQuestionForm.get('securityAnswer')?.touched && securityQuestionForm.get('securityAnswer')?.invalid" class="error-message">
          <div *ngIf="securityQuestionForm.get('securityAnswer')?.hasError('required')">La risposta personale è obbligatoria</div>
        </div>
      </div>
      <button type="submit" [disabled]="securityQuestionForm.invalid">Verifica</button>
    </form>
  </ng-container>
 
  <!-- Step 3: Reimposta Password -->
  <ng-container *ngIf="currentStep === 'resetPassword'">
    <h2>Reimposta Password</h2>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <div class="form-group">
        <label for="newPassword">Nuova Password</label>
        <input
          id="newPassword"
          type="password"
          class="form-control"
          placeholder="Inserisci la nuova password"
          formControlName="newPassword"
        />
        <div *ngIf="resetPasswordForm.get('newPassword')?.touched && resetPasswordForm.get('newPassword')?.invalid" class="error-message">
          <div *ngIf="resetPasswordForm.get('newPassword')?.hasError('required')">La nuova password è obbligatoria</div>
          <div *ngIf="resetPasswordForm.get('newPassword')?.hasError('minlength')">La password deve contenere almeno 8 caratteri</div>
          <div *ngIf="resetPasswordForm.get('newPassword')?.hasError('pattern')">La password deve contenere almeno una lettera maiuscola, un numero e un carattere speciale</div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Conferma Nuova Password</label>
        <input
          id="confirmPassword"
          type="password"
          class="form-control"
          placeholder="Conferma la nuova password"
          formControlName="confirmPassword"
        />
        <!-- Mostra il messaggio di errore -->
        <div *ngIf="resetPasswordForm.get('confirmPassword')?.touched && resetPasswordForm.get('confirmPassword')?.invalid" class="error-message">
          <div *ngIf="resetPasswordForm.get('confirmPassword')?.hasError('required')">La conferma della password è obbligatoria</div>
        </div>  
        <div *ngIf="resetPasswordForm.errors?.['passwordsNonCoincidenti'] && resetPasswordForm.touched" class="error-message">Le password non corrispondono</div>
      </div>
 
      <button type="submit" [disabled]="resetPasswordForm.invalid">Salva Password</button>
    </form>
  </ng-container>
 
  <!-- Step 4: Successo -->
  <ng-container *ngIf="currentStep === 'success'">
    <h2>Password modificata con successo</h2>
    <p>La tua password è stata modificata. Puoi accedere con la nuova password.</p>
    <p>Ti stiamo reindirizzando al login...</p>
  </ng-container>
</div>