<div class="campaign-list-container">
    <h2>GESTIONE CAMPAGNE</h2>

    <!-- Sezione per visualizzare la lista delle campagne -->
    <div class="container" *ngIf="activeComponent === ''">
        <!-- Sezione Filtro -->
        <div class="filters">
            <label for="countryFilter">Paese:</label>
            <select id="countryFilter" class="filter-select" [(ngModel)]="selectedCountry" (change)="filterAndSortCampaigns()">
                <option value="">Tutti</option>
                <option *ngFor="let country of uniqueCountries" [value]="country">
                    {{ country }}
                </option>
            </select>

            <label for="statusFilter">Status:</label>
            <select id="statusFilter" class="filter-select" [(ngModel)]="selectedStatus" (change)="filterAndSortCampaigns()">
                <option value="">Tutti</option>
                <option value="Pubblicata">Pubblicata</option>
                <option value="Terminata">Terminata</option>
            </select>
        </div>

        <!-- Lista di Campagne -->
        <div class="campaigns" *ngIf="filteredCampaigns.length > 0; else noCampaigns">
            <table class="campaign-table">
                <thead>
                    <tr>
                        <th>Titolo</th>
                        <th>Paese</th>
                        <th>Status</th>
                        <th>Azioni</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let campaign of filteredCampaigns">
                        <td>{{ campaign.title }}</td>
                        <td>{{ campaign.country }}</td>
                        <td>{{ campaign.status }}</td>
                        <td>
                            <div class="button-container">
                                <button class="btn edit-btn" (click)="setActiveComponent('editCampagna', campaign)">Modifica</button>
                                <button class="btn remove-btn" (click)="removeCampaign(campaign.title)">Rimuovi</button>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>

        <!-- Messaggio nessuna campagna trovata -->
        <ng-template #noCampaigns>
            <p class="no-results">Nessuna campagna trovata</p>
        </ng-template>

        <!-- Bottone Crea Campagna -->
        <div class="create-campaign-container">
            <button class="btn create-campaign-btn" (click)="setActiveComponent('createCampagna')">Crea Nuova Campagna</button>
        </div>
    </div>

    <!-- Sezione per creare una nuova campagna -->
 <!-- Sezione per creare una nuova campagna -->
<div *ngIf="activeComponent === 'createCampagna'" class="container-modifica">
    <h3>Crea Nuova Campagna</h3>
    <form (ngSubmit)="saveCampaign()">
        <!-- Titolo -->
        <div class="campo-titolo">
            <label for="title">Titolo della Campagna:</label>
            <input id="title" type="text" [(ngModel)]="campaign.title" name="title" required />
        </div>

        <!-- Categoria -->
        <div class="campo-categoria">
            <label for="category">Categoria della Campagna:</label>
            <select id="category" [(ngModel)]="campaign.category" name="category" required>
                <option value="">Seleziona una categoria</option>
                <option value="Educazione">Educazione</option>
                <option value="Inclusione">Inclusione</option>
                <option value="Sostenibilità">Sostenibilità</option>
            </select>
        </div>

        <!-- Descrizione -->
        <div class="campo-descrizione">
            <label for="description">Descrizione della Campagna:</label>
            <textarea id="description" [(ngModel)]="campaign.description" name="description" required></textarea>
        </div>

        <!-- Target dei Fondi -->
        <div class="campo-target-fondi">
            <label for="targetFunds">Target Fondi (€):</label>
            <input id="targetFunds" type="number" [(ngModel)]="campaign.targetFunds" name="targetFunds" required />
        </div>

        <!-- Fondi Attualmente Raggiunti -->
        <div class="campo-fondi-attuali">
            <label for="currentFunds">Fondi Raggiunti (€):</label>
            <input id="currentFunds" type="number" [(ngModel)]="campaign.currentFunds" name="currentFunds" required />
        </div>

        <!-- Link alle Donazioni -->
        <div class="campo-donazione">
            <label for="donationLink">Link delle Donazioni:</label>
            <input id="donationLink" type="text" [(ngModel)]="campaign.donationLink" name="donationLink" required />
        </div>

        <!-- Data di Scadenza -->
        <div class="campo-scadenza">
            <label for="expiryDate">Data di Scadenza:</label>
            <input id="expiryDate" type="date" [(ngModel)]="campaign.deadline" name="expiryDate" required />
        </div>

        <!-- Carica Immagine di Sfondo -->
        <div class="campo-immagine">
            <label for="backgroundImage">Carica Immagine di Sfondo:</label>
            <input type="file" (change)="onImageSelected($event)" />
        </div>

        <!-- Anteprima Immagine -->
        <div *ngIf="imagePreview" class="background-preview">
            <h4>Anteprima Immagine:</h4>
            <img [src]="imagePreview" alt="Anteprima Immagine" />
        </div>

        <button type="submit" class="btn save-btn">Salva</button>
    </form>
    <button class="btn back-btn" (click)="setActiveComponent('')">Indietro</button>
</div>


<!-- Sezione per modificare una campagna esistente -->
<div *ngIf="activeComponent === 'editCampagna'" class="container-modifica">
    <h3>Modifica Campagna</h3>
    <form (ngSubmit)="saveCampaign()">
        <!-- Titolo -->
        <div class="campo-titolo">
            <label for="title">Titolo della Campagna:</label>
            <input id="title" type="text" [(ngModel)]="campaign.title" name="title" required />
        </div>

        <!-- Categoria -->
        <div class="campo-categoria">
            <label for="category">Categoria della Campagna:</label>
            <select id="category" [(ngModel)]="campaign.category" name="category" required>
                <option value="">Seleziona una categoria</option>
                <option value="Educazione">Educazione</option>
                <option value="Inclusione">Inclusione</option>
                <option value="Sostenibilità">Sostenibilità</option>
            </select>
        </div>

        <!-- Descrizione -->
        <div class="campo-descrizione">
            <label for="description">Descrizione della Campagna:</label>
            <textarea id="description" [(ngModel)]="campaign.description" name="description" required></textarea>
        </div>

        <!-- Target dei Fondi -->
        <div class="campo-target-fondi">
            <label for="targetFunds">Target Fondi (€):</label>
            <input id="targetFunds" type="number" [(ngModel)]="campaign.targetFunds" name="targetFunds" required />
        </div>

        <!-- Fondi Attualmente Raggiunti -->
        <div class="campo-fondi-attuali">
            <label for="currentFunds">Fondi Raggiunti (€):</label>
            <input id="currentFunds" type="number" [(ngModel)]="campaign.currentFunds" name="currentFunds" required />
        </div>

        <!-- Link alle Donazioni -->
        <div class="campo-donazione">
            <label for="donationLink">Link delle Donazioni:</label>
            <input id="donationLink" type="text" [(ngModel)]="campaign.donationLink" name="donationLink" required />
        </div>

        <!-- Data di Scadenza -->
        <div class="campo-scadenza">
            <label for="expiryDate">Data di Scadenza:</label>
            <input id="expiryDate" type="date" [(ngModel)]="campaign.deadline" name="expiryDate" required />
        </div>

        <!-- Carica Immagine di Sfondo -->
        <div class="campo-immagine">
            <label for="backgroundImage">Carica Immagine di Sfondo:</label>
            <input type="file" (change)="onImageSelected($event)" />
        </div>

        <!-- Anteprima Immagine -->
        <div *ngIf="imagePreview" class="background-preview">
            <h4>Anteprima Immagine:</h4>
            <img [src]="imagePreview" alt="Anteprima Immagine" />
        </div>

        <button type="submit" class="btn save-btn">Salva Modifiche</button>
    </form>
    <button class="btn back-btn" (click)="setActiveComponent('')">Indietro</button>
</div>
