<head>
  <!-- Link per il font Roboto -->
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
</head>

<div class="forum-container">
  <div class="forum-sidebar">
    <a href="#" class="back-link">← Torna alla mappa</a>
    <h3>Forum</h3>
    <ul>
      <!-- Creazione dinamica dei bottoni per ogni forum -->
      <li *ngFor="let forum of forums">
        <button (click)="selectForum(forum.idForum)">{{ forum.titolo }}</button>
      </li>
    </ul>
  </div>
  

  <div class="forum-main">
    <h3>Post del Forum</h3>
    <div *ngFor="let post of posts" class="forum-post">
      <a href="#">{{ post.titolo }}</a>
      <p>Postato da {{ post.id_autore }}</p>
    </div>
  
    <ng-template #noPosts>
      <p>Nessun post disponibile per questo forum.</p>
    </ng-template>
  </div>
</div>

