/* Stile del contenitore principale */
.donation-container {
    font-family: 'Roboto', sans-serif;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #fdece8; /* Nuovo colore di sfondo */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* Titolo della pagina */
  .donation-title {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  /* Descrizione */
  .donation-description {
    font-size: 1rem;
    color: #666;
    margin-bottom: 20px;
  }
  
  /* Contenitore per l'input e il pulsante */
  .donation-input-container {
    margin-bottom: 20px;
  }
  
  /* Etichetta dell'input */
  .donation-label {
    display: block;
    font-size: 1rem;
    color: #333;
    margin-bottom: 8px;
  }
  
  /* Campo di input */
  .donation-input {
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
  }
  
  /* Pulsante per aggiornare l'importo */
  .donation-button {
    background-color: #004997;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .donation-button:hover {
    background-color: #0056b3;
  }
  
  /* Contenitore di PayPal */
  .paypal-container {
    margin-top: 20px;
  }