<div class="scheda-area-personale" >
    <h2>Area Personale</h2>
    <div class="info-gruppo">
      <label>Username:</label>
      <div class="info">{{ username }}</div>
    </div>
    <div class="info-gruppo">
      <label>Nome:</label>
      <div class="info">{{ nome }}</div>
    </div>
    <div class="info-gruppo">
      <label>Cognome:</label>
      <div class="info">{{ cognome }}</div>
    </div>
    <div class="info-gruppo">
      <label>Email:</label>
      <div class="info">{{ email }}</div>
    </div>
    <div class="info-gruppo">
      <label>Domanda Personale:</label>
      <div class="info">{{ domandaPersonale }}</div>
    </div>
    <button (click)="modificaPassword()">Modifica Password</button>
    <button (click)="eliminaAccount()">Elimina Account</button>
  </div>
  