<div class="container">
    <h1>Documento informativo</h1>
    
    <p>Seleziona un documento:</p>
    <select id="text-select" (change)="onTextChange($event)">
      <option *ngFor="let text of texts" [value]="text.name">{{ text.name }}</option>
    </select>

    <div class="document-content">
      <h2>Contenuto del Documento</h2>
      <p *ngIf="selectedDocument">{{ selectedDocument }}</p>
      <p *ngIf="!selectedDocument">Seleziona un documento per visualizzarne il contenuto.</p>
      
      <!-- Bottone posizionato a destra all'interno del contenuto -->
      <button class="download-button" (click)="downloadPDF()">Scarica PDF</button>
    </div>
  </div>
  