<div class="scheda-container">
  <div class="scheda">
    <h2>Area Personale</h2>
    <p><strong>Username:</strong> {{admin.username}}</p>
    <p><strong>Nome:</strong> {{admin.nome}}</p>
    <p><strong>Cognome:</strong> {{admin.cognome}}</p>
    <p><strong>Email:</strong> {{admin.email}}</p>

  <!-- Pulsanti di azione -->
  <div class="form-actions">
      <button class="form-control btn-primary" (click)="toggleModificaPassword()">Modifica Password</button>
    </div>

    <!-- Sezione Modifica Password -->
    <div *ngIf="modificaPassword" class="modifica-password">
      <h3>Modifica Password</h3>

      <!-- Form di Modifica Password -->
      <form [formGroup]="formModificaPassword" (ngSubmit)="salvaModificaPassword()">
        <!-- Vecchia Password -->
        <div class="form-group">
          <label for="vecchiaPassword">Vecchia Password</label>
          <div class="password-container">
            <input id="vecchiaPassword" [type]="isVecchiaPasswordVisible ? 'text' : 'password'" class="form-control" placeholder="Inserisci la tua vecchia password" formControlName="vecchiaPassword" />
            <button type="button" class="toggle-password" (click)="togglePasswordVisibility('vecchiaPassword')" aria-label="Mostra/Nascondi password">{{ isVecchiaPasswordVisible ? '🙈' : '👁' }}</button>
          </div>
          <div *ngIf="formModificaPassword.get('vecchiaPassword')?.touched && formModificaPassword.get('vecchiaPassword')?.invalid" class="error-message">
            <div *ngIf="formModificaPassword.get('vecchiaPassword')?.hasError('required')">La vecchia password è obbligatoria</div>
            <div *ngIf="formModificaPassword.get('vecchiaPassword')?.hasError('minlength')">La password deve contenere almeno 8 caratteri</div>
            <div *ngIf="formModificaPassword.get('vecchiaPassword')?.hasError('pattern')">La password deve contenere almeno una lettera maiuscola, un numero e un carattere speciale</div>
          </div>
        </div>

        <!-- Nuova Password -->
        <div class="form-group">
          <label for="password">Nuova Password</label>
          <div class="password-container">
            <input id="password" [type]="isPasswordVisible ? 'text' : 'password'" class="form-control" placeholder="Inserisci la nuova password" formControlName="password" />
            <button type="button" class="toggle-password" (click)="togglePasswordVisibility('password')" aria-label="Mostra/Nascondi password">{{ isPasswordVisible ? '🙈' : '👁' }}</button>
          </div>
          <div *ngIf="formModificaPassword.get('password')?.touched && formModificaPassword.get('password')?.invalid" class="error-message">
            <div *ngIf="formModificaPassword.get('password')?.hasError('required')">La nuova password è obbligatoria</div>
            <div *ngIf="formModificaPassword.get('password')?.hasError('minlength')">La password deve contenere almeno 8 caratteri</div>
            <div *ngIf="formModificaPassword.get('password')?.hasError('pattern')">La password deve contenere almeno una lettera maiuscola, un numero e un carattere speciale</div>
          </div>
        </div>

        <!-- Conferma Nuova Password -->
        <div class="form-group">
          <label for="confermaPassword">Conferma Nuova Password</label>
          <div class="password-container">
            <input id="confermaPassword" [type]="isConfermaPasswordVisible ? 'text' : 'password'" class="form-control" placeholder="Conferma la nuova password" formControlName="confermaPassword" />
            <button type="button" class="toggle-password" (click)="togglePasswordVisibility('confermaPassword')" aria-label="Mostra/Nascondi password">{{ isConfermaPasswordVisible ? '🙈' : '👁' }}</button>
          </div>
          <div *ngIf="formModificaPassword.get('confermaPassword')?.touched && formModificaPassword.get('confermaPassword')?.invalid" class="error-message">
            <div *ngIf="formModificaPassword.get('confermaPassword')?.hasError('required')">La conferma della password è obbligatoria</div>
          </div>
          <div *ngIf="formModificaPassword.errors?.['passwordsNonCoincidenti'] && formModificaPassword.touched" class="error-message">Le password non corrispondono</div>
        </div>

        <!-- Pulsante Salva -->
        <button type="submit" class="btn btn-primary" [disabled]="formModificaPassword.invalid">Salva</button>
      </form>
    </div>


  </div>
</div>